$cell: 30px;

.l-container {
  box-sizing: border-box;
  width: $cell * 10;
  padding: $cell;
  margin: 0 auto;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #ddd;
  color: #000;
}

.g-form {
  display: flex;
}

.g-input {
  display: block;
  box-sizing: border-box;
  width: $cell * 6;
  height: $cell;
  padding: 5px;
  border: 0;
  line-height: $cell;
  font-size: 18px;
}

.g-submit {
  width: $cell * 2;
  height: $cell;
  padding: 0;
  border: 0;
  overflow: hidden;
  line-height: $cell;
  font-size: 18px;
  text-align: center;
  background: #aaa;
  color: #fff;
  cursor: pointer;
  &:hover { background: #999; }
}

.g-todolist {
  margin: $cell 0;
}

.g-todolist__item {
  display: flex;
  justify-content: space-between;
  margin: $cell / 2 0;

  &:hover .g-todolist__item-del { display: block; }

  &.completed .g-todolist__item-title { text-decoration: line-through;  }
}

.g-todolist__item-title {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

.g-todolist__item-del {
  display: none;
  flex-basis: $cell / 2;
  cursor: pointer;
  opacity: .5;
  &:hover { opacity: 1; }
  &:after {
    display: block;
    content: '❌';
  }
}

.g-footer {
  color: #333;
}

.g-footer__link {
  color: #666;
}